@import url('https://fonts.googleapis.com/css?family=Bitter|Orbitron|Righteous|Exo|Mogra|Tangerine|Acme|OpenSans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$pColor: white;
$pFont: Acme, serif;

* {box-sizing: border-box;}
a {text-decoration: none; color: white;}
i {color: white;}
body {background-color: #515A5A;}
svg {display: block; margin: 0 auto; background-color: #efefef;}
.country {fill: grey; stroke: black; stroke-width: 0.5}
.meteor {fill-opacity: 0.5; stroke: black; stroke-width: 0.5}
.tooltip {position: absolute; text-align: center; padding: 2px; font-family: $pFont; font-size: 18px; background-color: lightsteelblue; border: 2px solid black; border-radius: 8px; z-index: 1;}
.footer {position: fixed; bottom: 5px; width: 100%; height: auto; margin-top: 40px; text-align: center; font-family: $pFont;  font-size: 1vw;}
